@using OnlyThrals.Model;
@using OnlyThrals.Data;
@page "/secret"
<PageTitle>Only Thralls</PageTitle>
<div class="container p-3">
    <div class="row sticky-top">
        <div class="col bg-black">
            I love you!
        </div>
    </div>
    </div>
 


