@using OnlyThrals.Model;
@using OnlyThrals.Data;
@page "/thralls"
@inject OnlyThrallsService _thrallService;
<PageTitle>Only Thralls</PageTitle>
<div class="container p-3">
    <div class="row bg-black sticky-top">
        <div class="col">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link " href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/thralls">Thralls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Secret?</a>
                </li>
            </ul>
        </div>
    </div>
    @if (_thralls != null && _thralls.Any())
    {
        @foreach (var thrall in _thralls)
        {

            <div class="row thrall-list-item">
                <div class="col-sm-2">
                    <img class="rounded-circle thrall-icon" src="@thrall.Icon">
                    @if (thrall.IsLive.HasValue && thrall.IsLive.Value)
                    {
                        <a href="https://www.twitch.tv/@thrall.TwitchUserName" class="badge badge-pill badge-success align-bottom">Live</a>
                    }
                    else
                    {
                        <a href="https://www.twitch.tv/@thrall.TwitchUserName" class="badge badge-pill badge-secondary align-bottom">Offline</a>
                        @*<span class="badge badge-pill badge-secondary align-bottom">Secondary</span>*@
                        @*<a href="https://www.twitch.tv/@thrall.TwitchUserName" class="badge badge-secondary">Offline</a>*@
                    }
                </div>
                <div class="col-9 fs-5">@thrall.Description</div>
                <div class="col socials">
                    <a href="https://www.twitch.tv/@thrall.TwitchUserName">
                        <i class="bi bi-twitch"></i>
                    </a>
                    @if (!string.IsNullOrWhiteSpace(thrall.TwitterUserName))
                    {
                        <a href="https://twitter.com/@thrall.TwitterUserName">
                            <i class="bi bi-twitter"></i>
                        </a>
                    }
                </div>
                <img class="divider" src="images/divider.svg">
            </div>
        }
    }
    else
    {
        <h1>No thralls :(</h1>
    }
</div>

@code {
    private List<Thrall>? _thralls;

    protected override async Task OnInitializedAsync()
    {
        _thralls = await _thrallService.GetThrallsAsync();
    }
}

